@font-face { font-family: FontAwesome; src: url('fonts/FontAwesome.otf'); }
/*@font-face {
    font-family: 'FontAwesome';
    src: url('modules/mod_aikon_easy_form_builder/assets/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('modules/mod_aikon_easy_form_builder/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
         url('modules/mod_aikon_easy_form_builder/assets/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
         url('modules/mod_aikon_easy_form_builder/assets/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
         url('modules/mod_aikon_easy_form_builder/assets/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

.clear, .clearfix, .clear-fix{clear: both;}
.fl{float: left}
.fr{float: right}
.text-b{font-weight: bold}
.text-i{font-style: italic;}
.text-u{text-decoration: underline;}
.text-center{text-align: center;}
img{width: 100%}
a {
    -webkit-transition: color 400ms, background-color 400ms;
    transition: color 400ms, background-color 400ms;
    cursor: auto;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    width: 100%;
    margin: auto;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    color: #151515;
    font-size: 14px;
    height: 1200px;

    background: url('images/main_back_left.png') 0 70% no-repeat, url('images/main_back_right.png') 100% 55% no-repeat;
}
.page-content{
    width: 1110px;
    margin: auto;
}
/*HEADER BEGIN*/
header{
    width: 100%;
    height: 100px;
    background-image: url("images/bg-header.png");
    background-size:cover;
    background-repeat: no-repeat;
}
header #logo{
    display: inline-block;
    margin: 30px 0 0 50px;
}
header #social {
    display: inline-block;
    float: right;
    height: 28px;
    margin-right: 20px;
}
header #social a{
    display: inline-block;
    float: right;
    width: 28px;
    height: 28px;
    margin-right: 5px;
    cursor: pointer;
    opacity: 0.7;
}
header #social a:hover{
    opacity: 1;
}
header #social a.facebook{
    background: url("images/facebook.png") no-repeat;
}
header #social a.googleplus{
    background: url("images/googleplus.png") no-repeat;
}
header #social a.youtube{
    background: url("images/youtube.png") no-repeat;
}
/*HEADER END*/



/*NAV BEGIN*/
nav {
    height: 50px;
    background: #d6d6d6;
    background: -moz-linear-gradient(left,#d6d6d6 0%,#ffffff 40%,#ffffff 60%,#d6d6d6 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,#d6d6d6),color-stop(40%,#ffffff),color-stop(60%,#ffffff),color-stop(100%,#d6d6d6));
    background: -webkit-linear-gradient(left,#d6d6d6 0%,#ffffff 40%,#ffffff 60%,#d6d6d6 100%);
    background: -o-linear-gradient(left,#d6d6d6 0%,#ffffff 40%,#ffffff 60%,#d6d6d6 100%);
    background: -ms-linear-gradient(left,#d6d6d6 0%,#ffffff 40%,#ffffff 60%,#d6d6d6 100%);
    background: linear-gradient(to right,#d6d6d6 0%,#ffffff 40%,#ffffff 60%,#d6d6d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6',endColorstr='#d6d6d6',GradientType=1);
    box-shadow: 0 3px 3px rgba(0,0,0,0.05);
}
nav #menu-nav{
    width: 1010px;
    height: 100%;
    margin: auto;
}
nav #menu-nav ul{
    list-style-type: none;
    line-height: 50px;
    padding: 0;
}
nav #menu-nav ul li{
    display: inline-block;
    cursor: pointer;
}
nav #menu-nav ul > li > a{
    display: block;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #383838;
}
/*nav #menu-nav ul > li > a.sub-menu:after{
    font-family: "FontAwesome";
    content: " \f107";
}*/
/*nav #menu-nav ul > li:first-child > a{
    padding-left: 0;
}*/
nav #menu-nav ul > li:hover{
    background: #7FC1EB;
}
nav #menu-nav ul > li:hover a{
    color: #ffffff;
}
/*NAV END*/

/*PARTNER BEGIN*/

#partner-block a.partner-link {
    display: block;
    padding: 0 5px;
    outline: 0;
}
#partner-block img.partner-img{
    border: 1px solid #e9e5e5;
}
#partner-block p.title{
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 20px;
    color: #E35772;
    font-weight: 700;
}
#partner-block #list-partner{
}
.slick-prev:before, .slick-next:before{
    color:#044A75 !important
}
/*PARTNER END*/



/*FOOTER BEGIN*/
footer{
    height: 350px;
    padding-top: 120px;
    background-image: url("images/bottom_back.jpg");
    background-repeat: no-repeat;
}
#footer .footer-item{
    margin-right: 30px;
}
#footer .footer-product{
    width: 200px;
}
#footer .footer-item p.title{
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    margin: 0 0 5px;
    line-height: 1;
    text-transform: uppercase;
}
#footer .footer-item a{
    margin-left: 3px;
    padding: 2px 0;
    font-size: 14px;
    font-weight: 300;
    display: block;
    line-height: 25px;
    text-decoration: none;
    color: #ffffff;
    transition: 300ms;
    position: relative;
}
#footer .footer-product a:before{
    font-family: FontAwesome;
    content: "\f105";
    margin-right: 8px;
    text-decoration: none;
    display: inline-block;
}
#footer .footer-product a:hover{
    text-decoration: underline;
}
#footer .footer-contact {
    width: 310px;
}
#footer .footer-contact label{
    font-weight: 600;
}
#footer .footer-contact p{
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    color: #ffffff;
}
#footer .footer-contact p.text-b{
    font-weight: 600;
    font-size: 15px;
}
#footer .footer-contact p:not(:first-child){
    padding-left: 5px;
}

#footer .footer-fanpage{
    width: 310px;
    height: 215px;
}
#footer .footer-fanpage {
    margin-right: 0;
}
/*FOOTER END*/



























